<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
  <div class="col-md-6 text-center">
		<div class="row">
			<h2>Member detail</h2>
			<div class="table-responsive">
				<table class="dashboard-table">
					<thead>
						<tr>
							<th>Player name</th>
							<th>No of wins</th>
							<th>No of losses</th>
							<th>Average score</th>
							<th>Highest score</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= @player.name %></td>
							<td><%= @player.total_wins.to_f %></td>
							<td><%= @player.total_losses.to_f %></td>
							<td><%= @player.avg_score.to_f.round(2) %></td>
							<td>Scored <%= @player.highest_score&.round(2)  %>
							<% if @player.best_match.present? %>
								,on the location <%= @player.best_match.location %> 
									at <%= @player.best_match.timing %>, against the player <b><%= @player.get_opponent_player %></b>
							<% end %>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
	</div>
</div>