<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
  <div class="col-md-6 text-center">
		<h1>Leader Board</h1>
	</div>
	<div class="table-responsive">
		<table class="dashboard-table">
			<thead>
				<tr>
					<th>Player name</th>
					<th>Contact details</th>
					<th>Average score</th>
					<th>Action's</th>
				</tr>
			</thead>
			<tbody>
				<% @players.each do |player| %>
					<tr>
						<td>
							<%= player.name %>
						</td>
						<td><%= player.phone_no %></td>
						<td><%= player.avg_score %></td>
						<td>
							<%= link_to 'Edit', edit_player_path(player.id) %>
							<%= link_to 'Profile', player_path(player.id) %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>